USE [FoodChainAppDB]
GO
/****** Object:  Table [dbo].[CUSTOMER_DETAILS]    Script Date: 2/11/2020 6:23:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_DETAILS](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](200) NOT NULL,
	[CONTACT_NO] [nvarchar](12) NULL,
	[EMAIL_ADDRESS] [nvarchar](200) NULL,
	[ADDRESS1] [nvarchar](200) NULL,
	[ADDRESS2] [nvarchar](200) NULL,
	[CITY] [nvarchar](100) NULL,
	[PINCODE] [nvarchar](10) NULL,
	[STATE] [nvarchar](100) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_ON] [datetime] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAILS]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAILS](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_NO] [nvarchar](150) NOT NULL,
	[INVOICE_DATE] [datetime] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[TOTAL] [decimal](11, 2) NULL,
	[TAXABLE_AMOUNT] [decimal](11, 2) NULL,
	[CGST_AMOUNT] [decimal](11, 2) NULL,
	[SGST_AMOUNT] [decimal](11, 2) NULL,
	[TOTAL_GST] [decimal](11, 2) NULL,
	[TOTAL_SALE] [decimal](11, 2) NULL,
	[NET_PAYABLE] [decimal](11, 2) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_ON] [datetime] NOT NULL,
 CONSTRAINT [PK_ORDER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEMS]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEMS](
	[ORDER_ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
	[AMOUNT] [decimal](11, 2) NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_ON] [datetime] NOT NULL,
 CONSTRAINT [PK_ORDER_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_TAX_DETAILS]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_TAX_DETAILS](
	[ORDER_TAX_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NULL,
	[CATEGORY_ID] [int] NULL,
	[TAXABLE_AMOUNT] [decimal](11, 2) NULL,
	[CSGT] [decimal](11, 2) NULL,
	[SGST] [decimal](11, 2) NULL,
 CONSTRAINT [PK_ORDER_TAX_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ORDER_TAX_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_CATEGORY_MASTER]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_CATEGORY_MASTER](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [nvarchar](200) NOT NULL,
	[TAX_RATE] [int] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
 CONSTRAINT [PK_PRODUCT_CATEGORY_MASTER] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_MASTER]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_MASTER](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME] [nvarchar](150) NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[MRP] [decimal](11, 2) NULL,
	[SPECIAL_RATE] [decimal](11, 2) NULL,
	[UNIT_MEASUREMENT] [nvarchar](80) NULL,
	[PACKAGE] [int] NULL,
	[STOCK] [int] NULL,
	[HSN_CODE] [nvarchar](100) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_ON] [datetime] NOT NULL,
 CONSTRAINT [PK_PRODUCT_MASTER] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_MASTER]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_MASTER](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](100) NOT NULL,
	[ROLE_DESC] [nvarchar](200) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_ROLE_MASTER] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORE_MASTER]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORE_MASTER](
	[STORE_ID] [int] IDENTITY(1,1) NOT NULL,
	[STORE_NAME] [nvarchar](300) NOT NULL,
	[STORE_ADDRESS] [nvarchar](500) NULL,
	[STORE_PHONE] [nvarchar](12) NULL,
	[GSTIN] [nvarchar](200) NULL,
	[PAN] [nvarchar](50) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
 CONSTRAINT [PK_STORE_MASTER] PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_DETAILS]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DETAILS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](200) NOT NULL,
	[PASSWORD] [nvarchar](500) NOT NULL,
	[FIRST_NAME] [nvarchar](150) NOT NULL,
	[MIDDLE_NAME] [nvarchar](150) NULL,
	[LAST_NAME] [nvarchar](150) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_ON] [datetime] NULL,
	[UPDATED_ON] [datetime] NULL,
 CONSTRAINT [PK_USER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_STORE_MAPPING]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_STORE_MAPPING](
	[USER_STORE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[STORE_ID] [int] NULL,
 CONSTRAINT [PK_USER_STORE_MAPPING] PRIMARY KEY CLUSTERED 
(
	[USER_STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROLE_MASTER] ON 
GO
INSERT [dbo].[ROLE_MASTER] ([ROLE_ID], [ROLE_NAME], [ROLE_DESC], [IS_ACTIVE]) VALUES (1, N'Administrator', N'Administrator', 1)
GO
SET IDENTITY_INSERT [dbo].[ROLE_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[STORE_MASTER] ON 
GO
INSERT [dbo].[STORE_MASTER] ([STORE_ID], [STORE_NAME], [STORE_ADDRESS], [STORE_PHONE], [GSTIN], [PAN], [IS_ACTIVE], [CREATED_ON]) VALUES (1, N'Pizza Hut', N'Pune', N'1234567890', N'987654321012', N'AKLPG7812D', 1, CAST(N'2020-02-11T15:24:52.430' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[STORE_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_DETAILS] ON 
GO
INSERT [dbo].[USER_DETAILS] ([USER_ID], [USER_NAME], [PASSWORD], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [ROLE_ID], [IS_ACTIVE], [CREATED_ON], [UPDATED_ON]) VALUES (1, N'admin', N'admin', N'John', NULL, N'Smith', 1, 1, CAST(N'2020-02-11T15:44:17.107' AS DateTime), CAST(N'2020-02-11T15:44:17.107' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[USER_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_STORE_MAPPING] ON 
GO
INSERT [dbo].[USER_STORE_MAPPING] ([USER_STORE_ID], [USER_ID], [STORE_ID]) VALUES (1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[USER_STORE_MAPPING] OFF
GO
ALTER TABLE [dbo].[CUSTOMER_DETAILS] ADD  CONSTRAINT [DF_CUSTOMER_DETAILS_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[CUSTOMER_DETAILS] ADD  CONSTRAINT [DF_CUSTOMER_DETAILS_CREATED_ON]  DEFAULT (getdate()) FOR [CREATED_ON]
GO
ALTER TABLE [dbo].[ORDER_DETAILS] ADD  CONSTRAINT [DF_ORDER_DETAILS_INVOICE_DATE]  DEFAULT (getdate()) FOR [INVOICE_DATE]
GO
ALTER TABLE [dbo].[ORDER_DETAILS] ADD  CONSTRAINT [DF_ORDER_DETAILS_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[ORDER_DETAILS] ADD  CONSTRAINT [DF_ORDER_DETAILS_CREATED_ON]  DEFAULT (getdate()) FOR [CREATED_ON]
GO
ALTER TABLE [dbo].[ORDER_ITEMS] ADD  CONSTRAINT [DF_ORDER_ITEMS_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[ORDER_ITEMS] ADD  CONSTRAINT [DF_ORDER_ITEMS_CREATED_ON]  DEFAULT (getdate()) FOR [CREATED_ON]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY_MASTER] ADD  CONSTRAINT [DF_PRODUCT_CATEGORY_MASTER_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY_MASTER] ADD  CONSTRAINT [DF_PRODUCT_CATEGORY_MASTER_CREATED_ON]  DEFAULT (getdate()) FOR [CREATED_ON]
GO
ALTER TABLE [dbo].[PRODUCT_MASTER] ADD  CONSTRAINT [DF_PRODUCT_MASTER_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[PRODUCT_MASTER] ADD  CONSTRAINT [DF_PRODUCT_MASTER_CREATED_ON]  DEFAULT (getdate()) FOR [CREATED_ON]
GO
ALTER TABLE [dbo].[ROLE_MASTER] ADD  CONSTRAINT [DF_ROLE_MASTER_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[STORE_MASTER] ADD  CONSTRAINT [DF_STORE_MASTER_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[STORE_MASTER] ADD  CONSTRAINT [DF_STORE_MASTER_CREATED_ON]  DEFAULT (getdate()) FOR [CREATED_ON]
GO
ALTER TABLE [dbo].[USER_DETAILS] ADD  CONSTRAINT [DF_USER_DETAILS_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[USER_DETAILS] ADD  CONSTRAINT [DF_USER_DETAILS_CREATED_ON]  DEFAULT (getdate()) FOR [CREATED_ON]
GO
ALTER TABLE [dbo].[USER_DETAILS] ADD  CONSTRAINT [DF_USER_DETAILS_UPDATED_ON]  DEFAULT (getdate()) FOR [UPDATED_ON]
GO
ALTER TABLE [dbo].[CUSTOMER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_DETAILS_USER_DETAILS] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER_DETAILS] ([USER_ID])
GO
ALTER TABLE [dbo].[CUSTOMER_DETAILS] CHECK CONSTRAINT [FK_CUSTOMER_DETAILS_USER_DETAILS]
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_CUSTOMER_DETAILS] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER_DETAILS] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [FK_ORDER_DETAILS_CUSTOMER_DETAILS]
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_USER_DETAILS] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER_DETAILS] ([USER_ID])
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [FK_ORDER_DETAILS_USER_DETAILS]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_ORDER_DETAILS] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDER_DETAILS] ([ORDER_ID])
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_ORDER_DETAILS]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_PRODUCT_MASTER] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT_MASTER] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_PRODUCT_MASTER]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_USER_DETAILS] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER_DETAILS] ([USER_ID])
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_USER_DETAILS]
GO
ALTER TABLE [dbo].[ORDER_TAX_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_TAX_DETAILS_ORDER_DETAILS] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDER_DETAILS] ([ORDER_ID])
GO
ALTER TABLE [dbo].[ORDER_TAX_DETAILS] CHECK CONSTRAINT [FK_ORDER_TAX_DETAILS_ORDER_DETAILS]
GO
ALTER TABLE [dbo].[ORDER_TAX_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_TAX_DETAILS_PRODUCT_CATEGORY_MASTER] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[PRODUCT_CATEGORY_MASTER] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[ORDER_TAX_DETAILS] CHECK CONSTRAINT [FK_ORDER_TAX_DETAILS_PRODUCT_CATEGORY_MASTER]
GO
ALTER TABLE [dbo].[PRODUCT_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_MASTER_PRODUCT_CATEGORY_MASTER] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[PRODUCT_CATEGORY_MASTER] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[PRODUCT_MASTER] CHECK CONSTRAINT [FK_PRODUCT_MASTER_PRODUCT_CATEGORY_MASTER]
GO
ALTER TABLE [dbo].[PRODUCT_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_MASTER_USER_DETAILS] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER_DETAILS] ([USER_ID])
GO
ALTER TABLE [dbo].[PRODUCT_MASTER] CHECK CONSTRAINT [FK_PRODUCT_MASTER_USER_DETAILS]
GO
ALTER TABLE [dbo].[USER_STORE_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_USER_STORE_MAPPING_STORE_MASTER] FOREIGN KEY([STORE_ID])
REFERENCES [dbo].[STORE_MASTER] ([STORE_ID])
GO
ALTER TABLE [dbo].[USER_STORE_MAPPING] CHECK CONSTRAINT [FK_USER_STORE_MAPPING_STORE_MASTER]
GO
ALTER TABLE [dbo].[USER_STORE_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_USER_STORE_MAPPING_USER_DETAILS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_DETAILS] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_STORE_MAPPING] CHECK CONSTRAINT [FK_USER_STORE_MAPPING_USER_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_AUTHENTICATE_USER]    Script Date: 2/11/2020 6:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Shrikant, Jadhav>
-- Create date: <02/11/2020>
-- Description:	<Authenticate User>
-- =============================================
CREATE PROCEDURE [dbo].[USP_AUTHENTICATE_USER]
	-- Add the parameters for the stored procedure here
	@USER_NAME NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT
		UA.[USER_ID],
		UA.[USER_NAME],
		UA.FIRST_NAME,
		UA.LAST_NAME,
		UA.FIRST_NAME + ' ' + UA.LAST_NAME AS FULL_NAME,
		UA.[PASSWORD],
		UA.IS_ACTIVE,
		R.ROLE_ID,
		R.ROLE_NAME
	FROM dbo.USER_DETAILS UA
	INNER JOIN dbo.ROLE_MASTER R ON UA.ROLE_ID = R.ROLE_ID
	WHERE UA.IS_ACTIVE = 1 AND UA.[USER_NAME] = @USER_NAME 
END
GO
