<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="~/Assets/img/icon.ico" type="image/x-icon" />
	<title>@ViewBag.Title - Food Chain App</title>
	<!-- Bootstrap Core CSS -->
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<!-- Custom CSS -->
	<link href="~/Content/login.css" rel="stylesheet" />
	<!-- You can change the theme colors from here -->
	<link href="~/Content/loginBlue.css" rel="stylesheet" />
	<script src="~/Scripts/core/jquery.3.2.1.min.js"></script>
	<script src="~/Scripts/core/bootstrap.min.js"></script>
	<script src="~/Scripts/validation/jquery.validate.min.js"></script>
	<script src="~/Scripts/validation/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
	<div id="dvBodyContent">
		@RenderBody()
	</div>
</body>
</html>
